extends layout

block content

    header.portrait

        .bg-line
        .body-portrait
            include includes/box-note

            if formSuccess
                .row
                    .col-md-6.col-md-offset-3
                        .alert.alert-success.text-center #{formMessage}
            else
                form(action='/' method='post' role='form')

                    input(type='hidden' name='_csrf' value=token)

                    if formError
                        .row
                            .col-md-6.col-md-offset-3
                                .alert.alert-danger.text-center #{formMessage}

                    .row
                        .col-md-6.col-md-offset-3
                            .form-group
                                label Notifications push ( conseillé ) :
                        if ! pushbullet
                            .col-md-8.col-md-offset-2
                                div(class='alert alert-info' role='alert')
                                    | Pushbullet est une application permettant de recevoir des
                                    | notification directement sur votre mobile, tablette, navigateur.

                    .row
                        .col-md-3.col-md-offset-5
                            .thumbnail
                                img(src='/img/pushbullet.png' alt='Pushbullet')
                                .caption
                                    if pushbullet
                                        span.label.label-success Connexion OK !
                                    else
                                        p.text-center Pushbullet
                                        p.text-center: a(href='https://www.pushbullet.com/authorize?client_id='+pushbulletKey+'&redirect_uri='+pushbulletUri+'&response_type=code&scope=everything' class='btn btn-flat style2' role='button') Connexion

                    .row
                        .col-md-6.col-md-offset-3
                            .form-group

                                label(for='server') Liste des serveurs :
                                select(class='form-control' name='server' placeholder='Saisir le nom du serveur')
                                    option()
                                    optgroup(label='Gamme SoYouStart :')
                                        for server in sysServersList
                                            option(value=server.reference selected=values.server == server.reference) #{server.name}
                                    optgroup(label='Gamme Kimsufi :')
                                        for server in kimServersList
                                            option(value=server.reference selected=values.server == server.reference) #{server.name}

                                if formErrors["server"]
                                    span.help-block #{formErrors["server"]["msg"]}

                    .row
                        .col-md-6.col-md-offset-3
                            .form-group

                                label(for='mail') Adresse mail :
                                input(type='text' name='mail' class='form-control' id='mail' placeholder='Votre adresse email' value=values.mail)

                                if formErrors["mail"]
                                    span.help-block #{formErrors["mail"]["msg"]}

                    .row
                        .col-md-6.col-md-offset-3
                            .form-group

                                label(for='phone') Numéro de téléphone ( optionnel ) :
                                input(type='text' name='phone' class='form-control' id='tel' placeholder='Exemple : 06XXXXXXXX' data-toggle='popover' title='Information' data-placement="bottom" data-content='Entrez simplement votre numéro de téléphone habituel, il sera préfixé automatiquement à partir du nom de votre pays' value=values.phone)

                                if formErrors["phone"]
                                    span.help-block #{formErrors["phone"]["msg"]}

                    .row
                        .col-md-6.col-md-offset-3
                            .form-group

                                label(for='country') Pays ( optionnel ) :
                                select(class='form-control' name='country' placeholder='Saisir le nom de votre pays')
                                    option()
                                    for country in countries
                                        option(value=country.alpha2 selected=values.country == country.alpha2) #{country.name}

                                if formErrors["country"]
                                    span.help-block #{formErrors["country"]["msg"]}

                    .deviter

                    .row
                        .col-md-6.col-md-offset-4
                            .form-group

                                div(class='g-recaptcha' data-sitekey=recaptchaKey)

                    .text-center
                        button(type='submit' id='submit' class='btn btn-flat btn-lg' data-loading-text='Validation en cours...' autocomplete='off') Envoyer

            include includes/about
