extends layout

block content

    header.portrait

        .bg-line
        .body-portrait
            include includes/box-note

            if formSuccess
                .row
                    .col-md-6.col-md-offset-3
                        .alert.alert-success.text-center #{formMessage}
            else
                form(action='/' method='post' role='form')

                    input(type='hidden' name='_csrf' value=token)

                    if formError
                        .row
                            .col-md-6.col-md-offset-3
                                .alert.alert-danger.text-center #{formMessage}

                    .row
                        .col-md-6.col-md-offset-3
                            .form-group

                                label(for='server') Liste des serveurs :
                                select(class='form-control' name='server')
                                    option(value='default') Choisir...
                                    optgroup(label='Gamme SoYouStart :')
                                        for server in sysServersList
                                            option(value=server.reference) #{server.name}
                                    optgroup(label='Gamme Kimsufi :')
                                        for server in kimServersList
                                            option(value=server.reference) #{server.name}

                                if formErrors["server"]
                                    span.help-block #{formErrors["server"]["msg"]}

                    .row
                        .col-md-6.col-md-offset-3
                            .form-group

                                label(for='mail') Adresse mail :
                                input(type='email' name='mail' class='form-control' id='mail' placeholder='Votre adresse email')

                                if formErrors["mail"]
                                    span.help-block #{formErrors["mail"]["msg"]}

                    .row
                        .col-md-6.col-md-offset-3
                            .form-group

                                label(for='tel') Numéro de téléphone ( Optionnel ) :
                                input(type='text' name='tel' class='form-control' id='tel' placeholder='Indisponible pour le moment' disabled)

                                if formErrors["tel"]
                                    span.help-block #{formErrors["tel"]["msg"]}

                    .row
                        .col-md-6.col-md-offset-3
                            .form-group

                                label Captcha :
                                div(class='g-recaptcha' data-sitekey=recaptchaKey)

                    .text-center
                        button(type='submit' id='submit' class='btn btn-flat btn-lg' data-loading-text='Validation en cours...' autocomplete='off') Envoyer

            include includes/about
