extends layout

block content

    div(class='bs-callout bs-callout-info' id='info-top')
        h4.align-center <strong>Disponibilité des offres OVH</strong>
        hr
        p
            | Pour connaitre la disponibilité des offres d'OVH (SoYourStart / Kimsufi), choisissez un serveur parmis la liste ci-dessous et ajoutez votre adresse mail.
            | Vous serez prévenu par email lorsque le serveur souhaité sera disponible.

    if formSuccess
        .alert.alert-success !{formMessage}
    else

        if formError
            .alert.alert-danger #{formMessage}

        form(action='/' method='post' class='form-horizontal' role='form')

            input(type='hidden' name='_csrf' value=token)

            .form-group
                label(for='server' class='col-sm-4 control-label') Liste des serveurs :
                .col-sm-5
                    select(class='form-control' name='server')
                        option(value='default') Choisir...
                        optgroup(label='Gamme SoYouStart :')
                            for server in sysServersList
                                option(value=server.reference) #{server.name}
                        optgroup(label='Gamme Kimsufi :')
                            for server in kimServersList
                                option(value=server.reference) #{server.name}
                    if formErrors["server"]
                        span.help-block #{formErrors["server"]["msg"]}

            .form-group
                label(for='mail' class='col-sm-4 control-label') Email :
                .col-sm-5
                    input(type='mail' name='mail' class='form-control' id='mail' placeholder='Votre adresse email')
                    if formErrors["mail"]
                        span.help-block #{formErrors["mail"]["msg"]}

            div(class='form-group' id='recaptcha')
                .col-sm-offset-4.col-sm-10
                    div(class='g-recaptcha' data-sitekey=recaptchaKey)

            .form-group
                .col-sm-offset-4.col-sm-10
                    button(type='submit' class='btn btn-success') Valider
